
.tipo-letraA{
    font-family: 'Dancing Script', cursive !important;
}

.tipo-letrab{
    font-family: 'Quicksand', sans-serif;
}

.fw-700{
    font-weight: bold !important;
}

.titulo-animado{
    color: rgba(226, 24, 165, 0.904);
    font-weight: 700;
    font-size: 1.3rem;
}

@media screen and (min-width:768px){
    .titulo-animado{
        font-size: 3rem;   
    }
}


@media screen and (min-width:1024px){
    .titulo-animado{
        font-size: 4rem;   
    }
}

@media screen and (min-width:1440px){
    .titulo-animado{
        font-size: 5rem;   
    }
}

img {
    max-width: 30% !important;
    margin: 1rem .5rem;
}

@media screen and (min-width:1024px){
    .main-principal .encabezado h3{
        font-size: 4rem;   
    }
}

@media screen and (min-width:1440px){
    .main-principal .encabezado h3{
        font-size: 5rem;   
    }
}


header {
    background-image: url("../img/heading.jpg");
    background-position: center;
    background-size: cover;
    height: 15rem;
}

@media screen and (min-width:768px){
    header{
        height: 30rem;
    }
}

@media screen and (min-width:992px){
    header{
        height: 45rem;
    }
}

@media screen and (min-width:1024px){
    header{
        height: 50rem;
    }
}

@media screen and (min-width:1440px){
    header{
        height: 60rem;
    }
}

header h3{
    position: absolute;
    top: 9rem;
    right: 1rem;
}

@media screen and (min-width:768px){
    header h3{
        top: 18rem;
        right: 2rem;
    }
}

@media screen and (min-width:1024px){
    header h3{
        top: 32rem;
    }
}

@media screen and (min-width:1440px){
    header h3{
        top: 38rem;
        right: 4rem;
    }
}


/* Main Principal */
.main-principal {
    background-color: #f1a5e556;
    padding-top: 1rem;
    text-align: center;
}

.main-principal .encabezado h3{
    font-size: 2.5rem;   
}

@media screen and (min-width:1024px){
    .main-principal .encabezado h3{
        font-size: 4rem;   
    }
}

@media screen and (min-width:1440px){
    .main-principal .encabezado h3{
        font-size: 5rem;   
    }
}

.main-principal .encabezado p{
    font-size: 1.3rem;
    margin: 1rem;
}

@media screen and (min-width:1024px){
    .main-principal .encabezado p{
        font-size: 2rem;   
    }
}

@media screen and (min-width:1440px){
    .main-principal .encabezado p{
        font-size: 2.6rem;   
    }
}

/* Section */
section {
    background-color: #f1a5e69f;
    padding: 2rem;
}

section h3{
    text-align: center;
    font-size: 2.3rem;
}

@media screen and (min-width:1024px){
    section h3{
        font-size: 3rem;
    }  
}

@media screen and (min-width:1440px){
    section h3{
        font-size: 4.5rem;
    }  
}


section .texto-section p{
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (min-width:1024px){
    section .texto-section p{
        font-size: 2rem;
    }  
}

@media screen and (min-width:1440px){
    section .texto-section p{
        font-size: 2.5rem;
    }  
}

.imagenes {
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}
  
.imagenes:hover {
transform: scale(1.2);
z-index: 2;
}